
StudyBuddyAPI/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
StudyBuddyAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
StudyBuddyAPI/bin/Debug/net8.0/StudyBuddyAPI.dll
StudyBuddyAPI/bin/Debug/net8.0/StudyBuddyAPI.exe
StudyBuddyAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
StudyBuddyAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StudyBuddyAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StudyBuddyAPI/bin/Debug/net8.0/
StudyBuddyAPI/obj/Debug/net8.0/
StudyBuddyAPI/obj/Debug/net8.0/StudyBuddyAPI.AssemblyInfoInputs.cache
StudyBuddyAPI/obj/Debug/net8.0/StudyBuddyAPI.AssemblyInfo.cs
