@page "/moderator-overview"
@rendermode InteractiveServer
@using StudyBuddyWebApp.Components
@inject IAcademicService AcademicService;

<div class="container-fluid py-4">
    <h2 class="text-center mb-4">Moderator Overview</h2>
    <div class="row">
        <div class="col-md-6 border-end">
            <h3 class="mb-4">Bachelor Management</h3>
            <Bachelors OnBachelorSelected="HandleBachelorSelected" />
        </div>
        <div class="col-md-6">
            <h3 class="mb-4">Subject Management</h3>
            <Subjects SelectedBachelor="selectedBachelor" OnSubjectSelected="HandleSubjectSelected" />
        </div>
    </div>
</div>

@code{
    private Bachelor? selectedBachelor;
    private Subject? selectedSubject;
    private void HandleBachelorSelected(Bachelor bachelor)
    {
        selectedBachelor = selectedBachelor?.id == bachelor.id ? null : bachelor;
    }
    private async Task HandleSubjectSelected(Subject subject)
    {
        if (selectedBachelor == null) return;
        selectedSubject = selectedSubject?.id == subject.id ? null : subject;
        Console.WriteLine(selectedBachelor.id);
        Console.WriteLine(selectedSubject.id);
        await AcademicService.AddSubjectToBachelor(selectedBachelor.id, selectedSubject.id);
        Console.WriteLine("Subject added to bachelor");
        selectedSubject = null;
        selectedBachelor = null;
    }
}

<style>
    .hover-shadow:hover {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        transition: box-shadow .3s ease-in-out;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
    
    .cursor-pointer:hover {
        background-color: #f8f9fa;
    }
</style>