@page "/moderator-overview"
@rendermode InteractiveServer
@using StudyBuddyWebApp.Components
@inject IAcademicService AcademicService;

<h2 class="text-center">Moderator Overview</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h3>Bachelor Management</h3>
                <Bachelors OnBachelorSelected="HandleBachelorSelected" />

        </div>
        <div class="col-md-12">
            <h3>Subject management</h3>
              <Subjects SelectedBachelor="selectedBachelor" OnSubjectSelected="HandleSubjectSelected" />

        </div>
    </div>
</div>

@code{
    private Bachelor? selectedBachelor;
    private Subject? selectedSubject;
    private void HandleBachelorSelected(Bachelor bachelor)
    {
        selectedBachelor = selectedBachelor?.id == bachelor.id ? null : bachelor;
    }
    private async Task HandleSubjectSelected(Subject subject)
    {
        if (selectedBachelor == null) return;
        selectedSubject = selectedSubject?.id == subject.id ? null : subject;
        Console.WriteLine(selectedBachelor.id);
        Console.WriteLine(selectedSubject.id);
        await AcademicService.AddSubjectToBachelor(selectedBachelor.id, selectedSubject.id);
        Console.WriteLine("Subject added to bachelor");
        selectedSubject = null;
        selectedBachelor = null;
    }
}